# Hidden files
.directory
.fuse-*
.*.kate-swp
.libmagic-tmp
.libmagic-tmp.bc
.kdev_include_paths
.DS_Store

# Temp files
*~
*.bak
*.swp
*.swo

# Binary files
*.7z
*.bz2
*.a
*.o
*.dll
*.dll.def
*.dylib
*.exe
*.msi
*.so

# zynaddsubfx
zynaddsubfx/rtosc/version.c.in
zynaddsubfx/Output/
zynaddsubfx/Tests/
zynaddsubfx/UI/ADnoteUI.cpp
zynaddsubfx/UI/ADnoteUI.h
zynaddsubfx/UI/BankUI.cpp
zynaddsubfx/UI/BankUI.h
zynaddsubfx/UI/ConfigUI.cpp
zynaddsubfx/UI/ConfigUI.h
zynaddsubfx/UI/EffUI.cpp
zynaddsubfx/UI/EffUI.h
zynaddsubfx/UI/EnvelopeUI.cpp
zynaddsubfx/UI/EnvelopeUI.h
zynaddsubfx/UI/FilterUI.cpp
zynaddsubfx/UI/FilterUI.h
zynaddsubfx/UI/LFOUI.cpp
zynaddsubfx/UI/LFOUI.h
zynaddsubfx/UI/MasterUI.cpp
zynaddsubfx/UI/MasterUI.h
zynaddsubfx/UI/MicrotonalUI.cpp
zynaddsubfx/UI/MicrotonalUI.h
zynaddsubfx/UI/OscilGenUI.cpp
zynaddsubfx/UI/OscilGenUI.h
zynaddsubfx/UI/PADnoteUI.cpp
zynaddsubfx/UI/PADnoteUI.h
zynaddsubfx/UI/PartUI.cpp
zynaddsubfx/UI/PartUI.h
zynaddsubfx/UI/PresetsUI.cpp
zynaddsubfx/UI/PresetsUI.h
zynaddsubfx/UI/ResonanceUI.cpp
zynaddsubfx/UI/ResonanceUI.h
zynaddsubfx/UI/SUBnoteUI.cpp
zynaddsubfx/UI/SUBnoteUI.h
zynaddsubfx/UI/VirKeyboard.cpp
zynaddsubfx/UI/VirKeyboard.h
